body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 5px;
}
#iconPopupPanel {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    opacity: 0.4;
}
#iconPopup {
    position: relative;
    width: 200px;
    height: 120px;
    margin: auto;
    z-index: 10;
    bottom: 65%;
    background-color: whitesmoke;
}
#popIcon {
    width: 100%;
    height: 50%;
    position: relative;
    font-weight: bold;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#close {
    width: 20px;
    height: 20px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    background-image: url(../images/close.jpg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
#mainContainer {
    width: 1024px;
    height: 768px;
    background-image: url(../images/ipad-mini-horizontal.png);
    background-size: 1024px 768px;
    margin:auto;
}
#container {
    position: relative;
    margin:auto;
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 708px;
    height: 471px;
    top: 148px;
    left: 0px; 
    overflow: hidden;
}
#mainPanel {
    width: 100%;
    height: 78%;
    position: relative;
}
#bottomPanel {
    width: 100%;
    height: 18%;
    position: relative;
    background-color: #fff8f85e;
}
#firstPanel div {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#firstPanel{
   display: block;
}
#secondPanel{
   display: none;
}

#secondPanel div {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.iconAnim {
  transform: rotate(-180deg);
  -webkit-animation: anim 2s infinite; /* Safari 4+ */
  -moz-animation: anim 2s infinite; /* Fx 5+ */
  -o-animation: anim 2s infinite; /* Opera 12+ */
  animation: anim 2s infinite;
}
.panel {
    position: relative;
    width: auto;
    height: auto;
}
.row {
    display: inline-block;
    width: 97%;
    height: 100%;
    padding: 20px 10px 10px 10px;
}
.row .iconCont {
    width: 137px;
    height: 86px;
    float: left;
}
.iconCont div:first-child {
    position: relative;
    text-align: center;
}
.iconCont div img {
    width:52px;
    height:52px;
}
.iconCont div:last-child {
    position: relative;
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
}

#navigation {
    width: 100%;
    height: 4%;
    position: relative;
}
#menuItems{

}
#menuItems .row{
    padding: 13px 20px 0px 20px;
}
.nav_row {
    width: 30px;
    height: 10px;
    position: relative;
    text-align: center;
    margin: auto;
}
#navigation .nav {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 3px;
    cursor: pointer;
    width: 5px;
    height: 5px;
    position: absolute;
}
#navigation .nav:first-child {
    left: 0px;
}
#navigation .nav:last-child {
    right: 0px;
    opacity: 0.3;
}
input[type='submit'], button, [aria-label]{
    cursor: pointer;
    }
#spoiler{
    display: none;
}

@keyframes anim {
  0% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
/*Media query to support ipad and iphone*/
/*@media screen and (max-width: 1600px) and (min-width: 1024px){
    #mainContainer {
        width: 1024px;
        height: 768px;
        background-image: url(../images/ipad-mini-horizontal.png);
        background-size: 1024px 768px;
    }
}*/
@media screen and (max-width: 1023px) and (min-width: 768px) {
    #mainContainer {
        width: 768px;
        height: 1024px;
        background-image: url(../images/ipad-mini-vertifical.png);
        background-size: 768px 1024px;
    }
    #container{
        width: 473px;
        height: 708px;
    }
    .row .iconCont {
        width: 113px;
        height: 110px
    }
    .iconCont div img {
        width:62px;
        height:62px;
    }
    #menuItems .row div:last-child {
        display: none;
    }
    #menuItems .row {
        margin: 10px;
    }
}

@media screen and (max-width: 767px) and (min-width: 568px) {
    #mainContainer {
        width: 568px;
        height: 320px;
        background-image: url(../images/iphone5-horizontal.png);
        background-size: 568px 320px;
    }
    #container{
        width: 358px;
        height: 205px;
        top: 58px;;
        top: 58px;
        left:-1px;
    }
    #mainPanel {
        width: 80%;
        height: 95%;
    }
    #bottomPanel {
        width: 16%;
        height: 100%;
        float: right;
        top: -194px;
    }
    .row {
        padding: 5px;
    }
    .row .iconCont {
        width: 55px;
        height: 47px;
    }
    .iconCont div:first-child {
        height: 68%;
    }
    .iconCont div img {
        width:32px;
        height:32px;
    }
    .iconCont div:last-child {
        font-size: 9px;
    }
    #iconPopup {
        width: 155px;
        height: 100px;
        bottom: 73%;
    }
    #navigation {
        width: 75%;
        height: 5%;
        float: left;
    }
    .nav_row {
        width: 20px;
        height: 8px;
    }
    #navigation .nav {
        width: 2px;
        height: 2px;
    }
    #menuItems .row div:last-child {
        display: none;
    }
    #menuItems .row {
        margin: 10px;
    }
}

@media screen and (max-width: 567px) and (min-width: 320px) {
    #mainContainer {
        width: 320px;
        height: 567px;
        background-image: url(../images/iphone5-vertical.png);
        background-size: 320px 567px;
    }
    #container{
        width: 204px;
        height: 358px;
        top: 103px;
        left: 2px;
    }
    #iconPopup {
        width: 155px;
        height: 100px;
    }
    .nav_row {
        width: 25px;
    }
    #navigation .nav {
        padding: 4px;
        width: 2px;
        height: 2px;
    }
    .row .iconCont {
        width: 47px;
        height: 51px;
    }
    .iconCont div img {
        width:32px;
        height:32px;
    }
    .iconCont div:last-child {
        font-size: 8px;
    }
}
