body {
    font-family: Verdana,sans-serif;
    font-size: 0.9em;
}
nav ul {
    padding: 0;
}
nav ul li {
    display: inline;
    margin: 5px;
}
#iconPopupPanel {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0px;
    left: 0px;
}
.overlay {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #000;
    opacity: 0.4;
}
#iconPopup {
    position: relative;
    width: 200px;
    height: 120px;
    margin: auto;
    z-index: 10;
    bottom: 65%;
    background-color: whitesmoke;
}
#popIcon {
    width: 100%;
    height: 50%;
    position: relative;
    font-weight: bold;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
#close {
    width: 20px;
    height: 20px;
    position: relative;
    font-weight: bold;
    cursor: pointer;
    background-image: url(../images/close.jpg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
#mainContainer {
    width: 1024px;
    height: 768px;
    background-image: url(../images/ipad-mini-horizontal.png);
    background-size: 1024px 768px;
    margin:auto;
}
#container {
    position: relative;
    margin:auto;
    background-image: url(../images/background.jpg);
    background-size: cover;
    width: 708px;
    height: 471px;
    top: 148px;
    left: 0px; 
    overflow: hidden;
}
#mainPanel {
    width: 100%;
    height: 74%;
    position: relative;
}
#bottomPanel {
    width: 100%;
    height: 18%;
    position: relative;
    background-color: #fff8f85e;
}
#firstPanel div {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}
#firstPanel{
   display: block;
}
#secondPanel{
   display: none;
}
#secondPanel div {
  -moz-transition: transform 1s;
  -webkit-transition: transform 1s;
  transition: transform 1s;
}

.iconAnim {
  transform: rotate(-180deg);
  -webkit-animation: anim 2s infinite; /* Safari 4+ */
  -moz-animation: anim 2s infinite; /* Fx 5+ */
  -o-animation: anim 2s infinite; /* Opera 12+ */
  animation: anim 2s infinite;
}
.panel {
    position: relative;
    width: auto;
    height: auto;
}
.row {
    display: inline-block;
    width: 96%;
    height: 100%;
    margin: 20px 10px 10px 10px;
}
.row div {
    width: 133px;
    height: 80px;
    float: left;
    color: #f0f0f0;
    font-size: 12px;
    text-align: center;
}
.row img{
    text-align: center;
    position: absolute;
}
.row span {
    white-space: nowrap; 
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
    top: 48px;
}
#navigation {
    width: 100%;
    height: 4%;
    position: relative;
}
#menuItems{

}
#menuItems .row{
    margin: 13px 20px 0px 20px;
}
.nav_row {
    width: 30px;
    height: 10px;
    position: relative;
    text-align: center;
    margin: auto;
}
#navigation .nav {
    border-radius: 5px;
    background-color: #f0f0f0;
    padding: 5px;
    cursor: pointer
}
#navigation .nav:first-child {
    float: left;
}
#navigation .nav:last-child {
    float: right;
}

/*Media query to support ipad and iphone*/
/*@media screen and (max-width: 1600px) and (min-width: 1024px){
    #mainContainer {
        width: 1024px;
        height: 768px;
        background-image: url(../images/ipad-mini-horizontal.png);
        background-size: 1024px 768px;
    }
}*/

@media screen and (max-width: 1023px) and (min-width: 768px) {
    #mainContainer {
        width: 768px;
        height: 1024px;
        background-image: url(../images/ipad-mini-vertifical.png);
        background-size: 768px 1024px;
    }
    #container{
        width: 473px;
        height: 708px;
    }
    .row div {
        width: 113px;
        height: 110px
    }
    #menuItems .row div:last-child {
        display: none;
    }
    .row {
        margin: 20px 10px 10px 10px
    }
    #menuItems .row {
    margin: 10px;
    }
}

@keyframes anim {
  0% {
    transform: rotate(20deg);
  }
  30% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
@media screen and (max-width: 767px) and (min-width: 568px) {
    #mainContainer {
        width: 568px;
        height: 320px;
        background-image: url(../images/iphone5-horizontal.png);
        background-size: 568px 320px;
    }
    #container{
        width: 358px;
        height: 205px;
        top: 58px;;
        top: 58px;
        left:-1px;
    }
    .row div {
        width: 69px;
        height: 64px;
    }
    #menuItems .row div:last-child {
        display: none;
    }
    .row {
        margin: 10px 5px 5px 5px
    }
    #menuItems .row {
    margin: 10px;
    }
}
@media screen and (max-width: 567px) and (min-width: 320px) {
    #mainContainer {
        width: 320px;
        height: 567px;
        background-image: url(../images/iphone5-vertical.png);
        background-size: 320px 567px;
    }
    #container{
        width: 204px;
        height: 358px;
        top: 103px;
        left: 2px;
    }
    .row div {
        width: 54px;
        height: 64px;
    }
}
input[type='submit'], button, [aria-label]{
      cursor: pointer;
    }
    #spoiler{
      display: none;
    }